{% extends "base.html" %}
{% block title %}
    <title>Show Testcases</title>
{% endblock %}
{% import "_macros_category.html" as category_macros %}<!--自定义按照分类的分页模板宏-->
{% import "_macros.html" as macros %}
{% block content %}

    <div class="row">
        <div class="col-md-1">
            left
        </div>
        <div class="col-md-11">
            <!--begin dropdown tab-->
            {#            <ul class="nav nav-pills">#}
            {#                <li class="dropdown active">#}
            {#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
            {#                        用例分类#}
            {#                        <b class="caret"></b>#}
            {#                    </a>#}
            {#                    <ul class="dropdown-menu">#}
            {#                        <li>#}
            {#                            <a href="/show_testcases">All</a>#}
            {#                        </li>#}
            {#                        <li>#}
            {#                            <a href="/show_testcase_by_category/web">Web</a>#}
            {#                        </li>#}
            {#                        <li>#}
            {#                            <a href="/show_testcase_by_category/android">Android</a>#}
            {#                        </li>#}
            {#                        <li>#}
            {#                            <a href="/show_testcase_by_category/ios">IOS</a>#}
            {#                        </li>#}
            {#                    </ul>#}
            {#                </li>#}
            {#            </ul>#}
            <!--end dropdown tab-->
            <div class="btn-toolbar">
                <div class="btn-group">
                    <a class="btn btn-primary btn-xs disabled" href="{{ url_for('show_all_testcase') }}">All</a>
                    <a class="btn btn-primary btn-xs" href="{{ url_for('show_testcase_by_category', category='web') }}">
                        Web
                    </a>
                    <a class="btn btn-primary btn-xs"
                       href="{{ url_for('show_testcase_by_category', category='android') }}">Android
                    </a>
                    <a class="btn btn-primary btn-xs" href="{{ url_for('show_testcase_by_category', category='ios') }}">IOS</a>
                </div>
            </div>
            <br>
            {% if testcases %}
                <!--begin table-->
                <table class="table table-hover table-condensed">
                    <caption>TestCase &nbsp;<code>(Readonly)</code></caption>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>平台</th>
                        <th>用例编号</th>
                        <th>用例描述</th>
                        <th>项目编号</th>
                        <th>项目名称</th>
                        <th>测试集</th>
                        <th>是否运行</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for testcase in testcases %}
                        {% set outer_loop = loop %}
                        <tr class="testCaseTr">
                            <th>{{ testcase.id }}</th>
                            <td>{{ testcase.platform }}</td>
                            <td class="testCaseId">{{ testcase.testCaseId }}</td>
                            <td>{{ testcase.caseDescription }}</td>
                            <td>{{ testcase.projectId }}</td>
                            <td>{{ testcase.projectName }}</td>
                            <td>{{ testcase.testSet }}</td>
                            <td>
                                <label class="checkbox" for="checkbox{{ outer_loop.index }}">
                                    <input type="checkbox" id="checkbox{{ outer_loop.index }}"
                                           data-toggle="checkbox" class="custom-checkbox" name="isRun"
                                           onclick="validCheckboxIsChecked()">
                                        <span class="icons">
                                            <span class="icon-unchecked"></span>
                                            <span class="icon-checked"></span>
                                        </span>
                                </label>
                            </td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
                <!--end table-->
                <br>

                <div>
                    <form id="runTestCaseForm" role="form" class="form-inline form-row" action="#">
                        <div class="form-group">
                            <select class="form-control" id="env">
                                <option value="TEST">TEST</option>
                                <option value="OFFICIAL">OFFICIAL</option>
                            </select>
                        </div>
                        &nbsp;
                        <div class="form-group">
                            <a type="button" id="runTestCaseButton" class="btn btn-info btn-lg disabled">运行选择的用例集</a>
                        </div>

                    </form>
                </div>


            {% else %}
                <h1>No TestCase in here</h1>
            {% endif %}
            <!--begin footer-->
            {% block footer %}
                {% if category_flag %}
                    <div class="footer text-center">
                        <ul class="pagination">
                            {{ category_macros.pagination_widget(pagination, 'show_testcase_by_category', category_flag) }}
                        </ul>
                    </div>
                {% else %}
                    <div class="footer text-center">
                        <ul class="pagination">
                            {{ macros.pagination_widget(pagination, 'show_all_testcase') }}
                        </ul>
                    </div>
                {% endif %}
            {% endblock %}
            <!--end footer-->
        </div>
    </div>
{% endblock %}
