/*控制flash message提示框的大小*/
#flash_message {
    width: 30%;
    height: 30%;
}

body {
    padding-top: 76px;
}

/*控制flat-ui的checkbox与其他td中的内容对齐*/
label[class="checkbox"] {
    margin: 0 auto;
    line-height: normal;
}
