<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Amphetamine</title>
    {% endblock %}
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    {% assets "bootstrap_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
</head>
<body>
{% block navbar %}
    <div class="navbar navbar-inverse navbar-fixed-top navbar-embossed" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapse" data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Home</a>
            </div>
            <div class="collapse navbar-collapse">
                {#                <form class="navbar-form navbar-right" action="#" role="search">#}
                {#                            <div class="form-group">#}
                {#                                <div class="input-group">#}
                {#                                    <input type="search" class="form-control" placeholder="Keyword">#}
                {#                                    <span class="input-group-btn">#}
                {#                                        <button type="submit" class="btn btn-sm">#}
                {#                                            <span class="fui-search"></span>#}
                {#                                        </button>#}
                {#                                    </span>#}
                {#                                </div>#}
                {#                            </div>#}
                {##}
                {#                        </form>#}
                <ul class="nav navbar-nav navbar-right">
                    <li>

                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><span class="fui-list"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('edit_testcase') }}">Edit TestCase</a></li>
                            <li><a href="{{ url_for('edit_teststep') }}">Edit TestStep</a></li>
                            <li><a href="{{ url_for('show_all_testcase') }}">Show TestCase</a></li>
                            {#                            <li><a href="{{ url_for('show_testsuite') }}">Show TestSuite</a></li>#}

                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </div>
{% endblock %}
<div class="container-fluid">
    {% block content %}
    {% endblock %}
</div>
{% assets "bootstrap_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets "feature_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

</body>
</html>