{% extends "base.html" %}
{% block title %}
    <title>Edit Testcase</title>
{% endblock %}
{% block content %}


    <div class="row">


        <div class="col-md-12">
            <br>

            <form id="addTestCaseForm" role="form" class="form-inline form-row" action="/add_testcase" method="POST">
                {{ form.hidden_tag() }}
                <fieldset>
                    <legend>关键字</legend>

                    <div class="form-group"><code>@Case</code></div>
                    <div class="form-group">
                        <div>
                            {{ form.element_desc(class='form-control', placeholder='用例描述') }}
                        </div>
                    </div>
                    <div class="form-group"><code>@FindBy</code></div>
                    <div class="form-group">
                        <div>
                            {{ form.by_element_type(class='form-control') }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            {{ form.element_key(class='form-control', size=35, placeholder='唯一标识') }}
                        </div>
                    </div>
                    <div class="form-group"><code>@And</code></div>
                    <div class="form-group">
                        {{ form.action(class='form-control') }}
                    </div>
                    <div class="form-group"><code>@Expect</code></div>
                    <div class="form-group">
                        {{ form.element_value(class='form-control', placeholder='预期值') }}
                    </div>

                </fieldset>
                <br>
                <fieldset>
                    <legend>操作步骤</legend>
                    <div class="form-group"><code>@Step</code></div>
                    <div class="form-group">
                        {{ form.step(class='form-control', size=8, placeholder='操作步骤') }}
                    </div>
                </fieldset>
                <br>
                <fieldset>
                    <legend>归属</legend>
                    <div class="form-group"><code>@Suite</code></div>
                    <div class="form-group">
                        {{ form.child(class='form-control') }}
                    </div>
                    <div class="form-group">
                        {{ form.child_desc(class='form-control', placeholder='子模块') }}
                    </div>

                    <div class="form-group">
                        {{ form.parent(class='form-control') }}
                    </div>
                    <div class="form-group">
                        {{ form.parent_desc(class='form-control', placeholder='父模块') }}
                    </div>
                    <div class="form-group"><code>@Category</code></div>
                    <div class="form-group">
                        {{ form.category(class='form-control') }}
                    </div>

                </fieldset>
                <br>
                <fieldset>
                    <legend>针对于数据</legend>
                    <div class="form-group"><code>@LineNumber</code></div>
                    <div class="form-group">
                        {{ form.row(class='form-control', placeholder='第几条数据') }}
                    </div>
                </fieldset>
                <br>

                <div class="form-group">
                    <button class="btn btn-success" type="submit">提交</button>
                </div>
                &nbsp;
                <div class="form-group">
                    <button class="btn btn-danger" type="reset">重置</button>
                </div>


            </form>
            <br>
            <!--begin flash message-->
            <div id="flash_message">
                {% with successes = get_flashed_messages(category_filter=["success"]) %}
                    {% if successes %}
                        {% for message in successes %}
                            <div class="alert alert-success alert-dismissible fade in">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% with errors = get_flashed_messages(category_filter=["error"]) %}
                    {% if errors %}
                        {% for message in errors %}
                            <div class="alert alert-danger alert-dismissible fade in">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <!--end flash message-->

            <!--begin testcase list-->
            <br>


            <!--begin collapse-->

            <div class="panel-group" id="accordion">
                <div class="panel panel-primary">
                    <div class="panel-heading">

                        <h4 class="panel-title text-right">


                            <a data-toggle="collapse" data-parent="#accordion"
                               href="#collapseTestCase">
                                <p style="float: left">TestCaseList</p>
                                <span id="chevronSpan" class="glyphicon glyphicon-chevron-up"></span>
                            </a>

                        </h4>
                    </div>
                    <div id="collapseTestCase" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <!--content-->
                            <div>
                                {% if amphetamine_list %}
                                    <table class="table table-hover table-condensed">
                                        <caption><code>(Editable)</code></caption>
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>描述</th>
                                            <th>By</th>
                                            <th>表达式</th>
                                            <th>值</th>
                                            <th>动作</th>
                                            <th>步骤</th>
                                            <th>子项</th>
                                            <th>子项描述</th>
                                            <th>父项</th>
                                            <th>父项描述</th>
                                            <th>数据行</th>
                                            <th>启用</th>

                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for amp in amphetamine_list %}
                                            <tr id="tr{{ amp.id }}">
                                                <td name="id" scope="row">{{ amp.id }}</td>
                                                <td name="element_desc"
                                                    contenteditable="true">{{ amp.element_desc }}</td>
                                                <td>{{ amp.by_element_type }}</td>
                                                <td name="element_key" contenteditable="true">{{ amp.element_key }}</td>
                                                <td name="element_value"
                                                    contenteditable="true">{{ amp.element_value }}</td>
                                                <td>{{ amp.action }}</td>
                                                <td name="step" contenteditable="true">{{ amp.step }}</td>
                                                <td name="child" contenteditable="true">{{ amp.child }}</td>
                                                <td name="child_desc" contenteditable="true">{{ amp.child_desc }}</td>
                                                <td name="parent" contenteditable="true">{{ amp.parent }}</td>
                                                <td name="parent_desc" contenteditable="true">{{ amp.parent_desc }}</td>
                                                <td name="row" contenteditable="true">{{ amp.row }}</td>
                                                {% if amp.is_enable %}
                                                    <td><a href="/update_case_enable/{{ amp.id }}"
                                                           role="button"
                                                           class="btn btn-success btn-xs">ON</a></td>
                                                {% else %}
                                                    <td><a href="/update_case_enable/{{ amp.id }}"
                                                           role="button"
                                                           class="btn btn-info btn-xs">OFF</a></td>
                                                {% endif %}

                                                <td>
                                                    <a name="updateTestCase" role="button"
                                                       class="btn btn-primary btn-xs">update</a>
                                                    <a href="/delete_testcase/{{ amp.id }}" role="button"
                                                       class="btn btn-danger btn-xs">delete</a>
                                                </td>

                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <p>No any TestCase in here.</p>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--end testcase list and collapse-->

        </div>

    </div>


{% endblock %}