{% extends "base.html" %}
{% block content %}
    <div class="page-header">
        <h1 class="text-info">Amphetamine
            <small>FSO Automation</small>
        </h1>
    </div>

    <div class="row">


        <div class="col-md-12">


            <form role="form" class="form-inline" action="/add_case" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <br>{{ form.element_desc(class='form-control', placeholder='描述') }}
                </div>
                {% for error in form.element_desc.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                <div class="form-group">
                    <br>{{ form.by_element_type(class='form-control') }}
                </div>
                <div class="form-group">
                    <br>{{ form.element_key(class='form-control', placeholder='Exp') }}
                </div>
                {% for error in form.element_key.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}

                <div class="form-group">
                    <br>{{ form.element_value(class='form-control', placeholder='值') }}
                </div>
                {% for error in form.element_value.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}

                <div class="form-group">
                    <br>{{ form.action(class='form-control') }}
                </div>
                <div class="form-group">
                    <br>{{ form.step(class='form-control', placeholder='步骤') }}
                    {% for error in form.step.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <br>{{ form.child(class='form-control') }}
                </div>
                <div class="form-group">
                    <br>{{ form.child_desc(class='form-control', placeholder='子类') }}
                </div>
                {% for error in form.child_desc.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                <div class="form-group">
                    <br>{{ form.parent(class='form-control') }}
                </div>
                <div class="form-group">
                    <br>{{ form.parent_desc(class='form-control', placeholder='父类') }}
                </div>
                {% for error in form.parent_desc.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                <div class="form-group">
                    <br>{{ form.row(class='form-control', placeholder='行') }}
                </div>
                {% for error in form.row.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}

                <div class="form-group">
                    <br>
                    <button class="btn btn-primary" type="submit">提交</button>
                </div>
                <div class="form-group">
                    <br>
                    <button class="btn btn-danger" type="reset">重置</button>
                </div>


            </form>
            <br>

            <div id="flash_message">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success alert-dismissible fade in">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>

            <!--begin-->
            <br>

            <div>
                {% if amphetamine_list %}
                    <table class="table table-hover table-condensed">
                        <caption>TestCaseList</caption>
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>描述</th>
                            <th>By</th>
                            <th>表达式</th>
                            <th>值</th>
                            <th>动作</th>
                            <th>步骤</th>
                            <th>子项</th>
                            <th>子项描述</th>
                            <th>父项</th>
                            <th>父项描述</th>
                            <th>数据行</th>
                            <th>启用</th>
                            <th>通过</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for amp in amphetamine_list %}
                            <tr id="tr{{ amp.id }}">
                                <td name="id" scope="row">{{ amp.id }}</td>
                                <td name="element_desc" contenteditable="true">{{ amp.element_desc }}</td>
                                <td>{{ amp.by_element_type }}</td>
                                <td name="element_key" contenteditable="true">{{ amp.element_key }}</td>
                                <td name="element_value" contenteditable="true">{{ amp.element_value }}</td>
                                <td >{{ amp.action }}</td>
                                <td name="step" contenteditable="true">{{ amp.step }}</td>
                                <td name="child" contenteditable="true">{{ amp.child }}</td>
                                <td name="child_desc" contenteditable="true">{{ amp.child_desc }}</td>
                                <td name="parent" contenteditable="true">{{ amp.parent }}</td>
                                <td name="parent_desc" contenteditable="true">{{ amp.parent_desc }}</td>
                                <td name="row" contenteditable="true">{{ amp.row }}</td>
                                {% if amp.is_enable %}
                                    <td><a href="/update_case_enable/{{ amp.id }}" role="button"
                                           class="btn btn-success btn-xs">ON</a></td>
                                {% else %}
                                    <td><a href="/update_case_enable/{{ amp.id }}" role="button"
                                           class="btn btn-info btn-xs">OFF</a></td>
                                {% endif %}
                                {% if amp.is_passed %}
                                    <td><span class="label label-danger">Yes</span></td>
                                {% else %}
                                    <td><span class="label label-danger">No</span></td>
                                {% endif %}
                                <td>
                                    <a onclick="updateTestCase(this)" role="button" class="btn btn-primary btn-xs">update</a>
                                    <a href="/delete_case/{{ amp.id }}" role="button" class="btn btn-danger btn-xs">delete</a>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No any TestCase in here.</p>
                {% endif %}

            </div>

            <!--end-->

        </div>

    </div>

    <script src="{{ url_for('static', filename = 'js/updateTestCase.js') }}"></script>
{% endblock %}