{% extends "base.html" %}
{% block content %}
    <div class="page-header">
        <h1 class="text-info">Amphetamine <small>FSO Automation</small></h1>
    </div>

    <div class="row">


        <div class="col-md-12">


            <form role="form" class="form-inline" action="add_case" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <br>{{ form.page_value(class='form-control', placeholder='值') }}
                </div>
                {% for error in form.page_value.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                <div class="form-group">
                    <br>{{ form.page_value(class='form-control', placeholder='值') }}
                </div>
                {% for error in form.page_value.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                <div class="form-group">
                    <br>{{ form.element(class='form-control', placeholder='元素') }}
                </div>
                {% for error in form.element.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                <div class="form-group">
                    <br>{{ form.child(class='form-control') }}
                </div>
                <div class="form-group">
                    <br>{{ form.child_desc(class='form-control', placeholder='Child标签', size=8) }}
                </div>
                {% for error in form.child_desc.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                <div class="form-group">
                    <br>{{ form.parent(class='form-control') }}
                </div>
                <div class="form-group">
                    <br>{{ form.parent_desc(class='form-control', placeholder='Parent标签', size=9) }}
                </div>
                {% for error in form.parent_desc.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                <div class="form-group">
                    <br>{{ form.branch(class='form-control', placeholder='顺序/条目', size=8) }}
                </div>
                {% for error in form.branch.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                <div class="form-group">
                    <br>{{ form.action(class='form-control') }}
                </div>
                {% for error in form.branch.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}

            </form>
            <br>
            <p>this is .</p>

        </div>

    </div>
{% endblock %}