{% extends "base.html" %}
{% block content %}
    <div class="page-header">
        <h1 class="text-info">Amphetamine
            <small>FSO Automation</small>
        </h1>
    </div>

    <div class="row">


        <div class="col-md-12">


            <form role="form" class="form-inline" action="/add_case" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <br>{{ form.page_key(class='form-control', placeholder='键') }}
                </div>
                {% for error in form.page_key.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                <div class="form-group">
                    <br>{{ form.page_value(class='form-control', placeholder='值') }}
                </div>
                {% for error in form.page_value.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                <div class="form-group">
                    <br>{{ form.element(class='form-control', placeholder='元素') }}
                </div>
                {% for error in form.element.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                <div class="form-group">
                    <br>{{ form.child(class='form-control') }}
                </div>
                <div class="form-group">
                    <br>{{ form.child_desc(class='form-control', placeholder='Child标签', size=8) }}
                </div>
                {% for error in form.child_desc.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                <div class="form-group">
                    <br>{{ form.parent(class='form-control') }}
                </div>
                <div class="form-group">
                    <br>{{ form.parent_desc(class='form-control', placeholder='Parent标签', size=9) }}
                </div>
                {% for error in form.parent_desc.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                <div class="form-group">
                    <br>{{ form.branch(class='form-control', placeholder='顺序/条目', size=8) }}
                </div>
                {% for error in form.branch.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                <div class="form-group">
                    <br>{{ form.action(class='form-control') }}
                </div>
                {% for error in form.branch.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                <div class="form-group">
                    <br>
                    <button class="btn btn-primary" type="submit">提交</button>
                </div>
                <div class="form-group">
                    <br>
                    <button class="btn btn-danger" type="reset">重置</button>
                </div>


            </form>
            <br>

            <div>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <br>
                            <div class="alert alert-success">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>

            <!--begin-->
            <br>

            <div>
                {% if amphetamine_list %}
                    <table class="table table-hover table-condensed">
                        <caption>CaseList</caption>
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>键</th>
                            <th>值</th>
                            <th>元素</th>
                            <th>子项</th>
                            <th>子项描述</th>
                            <th>父项</th>
                            <th>父项描述</th>
                            <th>顺序</th>
                            <th>动作</th>
                            <th>启用</th>
                            <th>通过</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for amp in amphetamine_list %}
                            <tr>
                                <th scope="row">{{ amp.id }}</th>
                                <td contenteditable="true">{{ amp.page_key }}</td>
                                <td contenteditable="true">{{ amp.page_value }}</td>
                                <td contenteditable="true">{{ amp.element }}</td>
                                <td contenteditable="true">{{ amp.child }}</td>
                                <td contenteditable="true">{{ amp.child_desc }}</td>
                                <td contenteditable="true">{{ amp.parent }}</td>
                                <td contenteditable="true">{{ amp.parent_desc }}</td>
                                <td contenteditable="true">{{ amp.branch }}</td>
                                <td>{{ amp.action }}</td>
                                {% if amp.is_enable %}
                                    <td><a href="/update_case_enable/{{ amp.id }}" role="button"
                                           class="btn btn-success btn-xs">{{ amp.is_enable }}</a></td>
                                {% else %}
                                    <td><a href="/update_case_enable/{{ amp.id }}" role="button"
                                           class="btn btn-info btn-xs">{{ amp.is_enable }}</a></td>
                                {% endif %}
                                <td>{{ amp.is_passed }}</td>
                                <td>
                                    <a href="#" role="button" class="btn btn-primary btn-xs">update</a>
                                    <a href="/delete_case/{{ amp.id }}" role="button" class="btn btn-danger btn-xs">delete</a>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No any TestCase in here.</p>
                {% endif %}

            </div>

            <!--end-->

        </div>

    </div>
    <script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
{% endblock %}